
<form (ngSubmit)="onSubmit()">
    <div class="edit-dialog">
      <div class="input-group">
      <h2 class="edit-title">Add New Project</h2>
      <div class="input-group">
        <label for="department">Logo:</label>
        <input id="department" [(ngModel)]="projects.logo" name="logo" required class="input-field">
      </div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="projects.name" name="name" required class="input-field">
    </div>
    <div class="input-group">
      <label for="department">stratingDate:</label>
      <input id="department" [(ngModel)]="projects.stratingDate" name="stratingDate" required class="input-field">
    </div>
    <div class="input-group">
      <label for="role">Deadline:</label>
      <input id="role" [(ngModel)]="projects.deadline" name="deadline" required class="input-field">
    </div>
    <div class="input-group">
        <label for="role">Duration:</label>
        <input id="role" [(ngModel)]="projects.duration" name="duration" required class="input-field">
      </div>
    <div class="input-group">
      <label for="status">Status:</label>
      <select id="status" [(ngModel)]="projects.status" name="status" required class="input-field">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    
    <div class="button-group">
        <button class="button save-button" (click)="onAdd()" >Add</button>
      
      <button type="button" (click)="onCancel()" class="button save-button">Cancel</button>
    </div>
    </div>
    </form>
    